[submodule "etc/zsh/zsh-completions"]
	path = etc/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "etc/zsh/zsh-syntax-highlighting"]
	path = etc/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh-prompt-git"]
	path = etc/zsh/zsh-git-prompt
	url = https://github.com/zsh-git-prompt/zsh-git-prompt.git
